[Unit]
Description=Weave Run - DNS
Documentation=http://docs.weave.works/
After=weave.service
Requires=docker.service weave.service
[Service]
TimeoutStartSec=0
EnvironmentFile=-/etc/weave.env
EnvironmentFile=-/etc/weave.%H.env
ExecStartPre=/usr/bin/weave launch-dns $WEAVE_DNS_ADDR
ExecStart=/usr/bin/docker attach weavedns
Restart=on-failure
ExecStop=/usr/bin/weave stop-dns
[Install]
WantedBy=weave.target
