[Unit]
Description=Weave Docker API proxy
Documentation=http://weave.works/docs
After=docker.service
Requires=docker.service
[Service]
TimeoutStartSec=0
EnvironmentFile=-/etc/weave.env
EnvironmentFile=-/etc/weave.%H.env
ExecStartPre=/usr/bin/weave launch-proxy --no-detect-tls
ExecStart=/usr/bin/docker attach weaveproxy
Restart=on-failure
ExecStop=/usr/bin/weave stop-proxy
[Install]
WantedBy=weave.target
