[Unit]
Description=Weave Net
Documentation=http://weave.works/docs
After=docker.service
Before=weaveproxy.service
Requires=docker.service
[Service]
TimeoutStartSec=0
EnvironmentFile=-/etc/weave.env
EnvironmentFile=-/etc/weave.%H.env
ExecStartPre=/usr/bin/weave launch-router $WEAVE_PEERS
ExecStart=/usr/bin/docker attach weave
Restart=on-failure
ExecStop=/usr/bin/weave stop-router
[Install]
WantedBy=weave.target
